@media (min-width: 991px) {
  .hero__section {
    width: 100%;
    /* padding: 4rem; */
  }

  .main {
    /* padding: 0 4rem; */
  }

}

/* IPAD PRO */



@media screen and (max-width: 467px) {
  .skill-container {
    display: flex;
    flex-direction: column;
  }

  .heading-title i {
    font-size: 3rem;
  }

  .project-card {
    width: 100%;
  }

  .heading-title span {
    font-size: 4rem;
  }

  .hero-title__con {
    padding: 0rem;
  }

  .about__right {
    width: 100%;
    background-size: 92%;
    padding: 0
  }

  .About__left .info {
    font-size: 1.5rem;
  }

  .row {
    flex-direction: column;
  }

  .main {
    padding: 0px 30px;
  }

  .about-container {
    flex-direction: column;

  }

  .heading-title {
    font-size: 2rem;

  }

  .hero-info {
    font-size: 16px;

  }

  .intro {
    margin-top: 0;
  }

  .section-title {
    font-size: 3rem;
    text-align: left;
    color: #26272c;
    font-family: Caveat, sans-serif;
    margin-top: 3rem;
  }

  .title {
    margin: 20px;

  }

  .row {
    gap: 2rem;
  }

  .col {
    cursor: pointer;
  }
}
@media screen and (max-width: 650px) {
  .skill-container {
    display: flex;
    flex-direction: column;
  }

  .heading-title i {
    font-size: 3rem;
  }

  .project-card {
    width: 100%;
  }

  .heading-title span {
    font-size: 4rem;
  }

  .hero-title__con {
    padding: 0rem;
  }

  .about__right {
    width: 100%;
    background-size: 62%;
    padding: 0
  }

  .About__left .info {
    font-size: 1.5rem;
  }

  .row {
    flex-direction: column;
  }

  .main {
    padding: 0px 30px;
  }

  .about-container {
    flex-direction: column;

  }

  .heading-title {
    font-size: 2rem;

  }

  .hero-info {
    font-size: 16px;

  }

  .intro {
    margin-top: 0;
  }

  .section-title {
    font-size: 3rem;
    text-align: left;
    color: #26272c;
    font-family: Caveat, sans-serif;
    margin-top: 3rem;
  }

  .title {
    margin: 20px;

  }

  .row {
    gap: 2rem;
  }

  .col {
    flex-basis: 10%;
    cursor: pointer;
  }
}


/* @media screen and (max-width: 650px) {
  .project-card {
    width: 100%;
  }
  .project-card {
    padding: 0;
  }

  .project-card dd {
    font-size: 14px;
  }
  .row {
    flex-direction: column;
    gap:2rem
  }
  .about-container {
    flex-direction: column;

  }
  
  .about__right {
    width: 100%;
    background-size: 72%;
    padding: 0
  }

  .About__left .info {
    font-size: 1.5rem;
  }

} */




/* .scroll-watcher {
      height: 1rem;
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      z-index: 1000;
      background-color: red;
      scale: 0 1;
      transform-origin: left;

      animation: scroll-watcher linear;
      animation-timeline: scroll();
    }

    @keyframes scroll-watcher {
      to {
        scale: 1 1;
      }
    } */
@media (prefers-reduced-motion: no-preference) {
  .fbslider__img>img {
    scale: .8;
    opacity: 0;
    animation: fade-in linear forwards;
    animation-timeline: view();
    animation-range: entry 200px;
  }

  @keyframes fade-in {

    to {
      scale: 1;
      opacity: 1;
    }

  }
}




@media only screen and (max-width: 798px) {
  .container {
    width: 70%;
    transform: translateX(20px);
  }

  .container ul::after {
    left: -40px;
  }

  .container ul li {
    width: 100%;
    float: none;
    clear: none;
    margin-bottom: 80px;
  }

  .container ul li .circle {
    left: -40px;
    transform: translate(-50%, -50%);
  }

  .container ul li .date {
    left: 20px;
  }

  .container ul li:nth-child(odd) {
    transform: translateX(0px);
    text-align: left;
  }

  .container ul li:nth-child(even) {
    transform: translateX(0px);
  }
}

@media only screen and (max-width: 550px) {
  .container {
    width: 90%;
  }

  .project-card {
    padding: 0;
  }

  .project-card dd {

    font-size: 14px;
  }

  .padd {
    padding: 3rem 0;
  }
  .section-project {
    padding: 0rem;

  }


  .container ul::after {
    left: -20px;
  }

  .container ul li .circle {
    left: -20px;
  }
}