* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
  transition: all 0.2s linear;
}

body {
  overflow-x: hidden;
  background:#f7f7f7;

}

*::selection {
  background: teal;
}

::-webkit-scrollbar {
  width: 0.6rem;
}

::-webkit-scrollbar-track {
  background: #111;
}

::-webkit-scrollbar-thumb {
  background: teal;
  color:white;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif;
}

html::-webkit-scrollbar-thumb {
  background: #222;
}

/* HEADER SECTION */

.menubar-hide.scroll-on {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  color: teal;
  background: teal;
  box-shadow: 0 0rem 0.5rem rgba(0, 0, 0, 0.5);
  transition: all 0.15s ease-in-out 0s;
}

.menubar-hide {
  width: 100%;
  height: 8rem;
  z-index: 1000;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: space-between;
}

.logo--container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.logo--container h3 {
  color: #f7f7f7;
  font-size: 2rem;
  font-weight: 600;
}

.menubar-hide img {
  width: 7rem;
  height: 6rem;
  margin: 1rem 2rem;
  border-radius: 50%;
}

.navbal__list {
  display: flex;
  list-style: none;
  align-items: center;
  text-decoration: none;
  justify-content: center;
}

.navbal__list li {
  margin: 0 2.5rem;
}

.navbal__list li a {
  color: #fff;
  font-size: 2rem;
  font-weight: 700;
  

}

.navbal__list li a:hover {
  color: #00acee;
}

.item-name{
  color: #000;
}
.navbal__list li::after {
  content: "";
  display: block;
  width: 0;
  left: 0;
  height: 3px;
  bottom: -2rem;
  border-radius: 5px;
  background: lime;
  transition: all 0.5s;
}
.navbal__list li:hover::after {
  width: 100%;
}

/* MeNUBAR START */

.manubar__box{
  text-align: right;
  margin-left: 12rem;
}
.menubar--icon {
  font-size: 2rem;
  color: #fff;
  cursor: pointer;
  visibility: hidden;
  padding: 0.5rem 1rem;
  box-shadow: 0 0rem 0.5rem rgba(0, 0, 0, 0.2);
}

.manubar__box {
  font-size: 2.5rem;
}

/* HERO SECTION START */

.hsection{
  font-family: "Courier New", Courier, monospace;
  background-image: url(/picture/bg4.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center top;
  min-height: 100vh;
  padding: 1rem;
}


.hero__section--name {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 30%;
  color: #ffff;
}

.heading-primary {
  font-size: 5rem;
  animation-name: moveInLeft;
  animation-duration: 5s;
}

.section--name{
  font-size: 3rem;
  padding: 1rem 0;
  font-weight: 600;
  animation-name: moveInRight;
  animation-duration: 5s;
  display: inline-block;

}
.hero__section__name span{
  font-size: 3rem;
  padding: 1rem 1.3rem;
  font-weight: 600;
  animation-name: moveInRight;
  animation-duration: 15s;
  color: yellow;
}

/* ABOUR section start */

.about__section {
  font-family: sans-serif;
  padding: 2rem;
}

.primary__heading {
  width: 100%;
  text-align: center;
  padding: 2rem 0 ;
  

}
.about__heading {
  font-size: 2.5rem;
  color:#444;
  border-bottom: 1px solid #aeb2b3

}
.about-section {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 2rem;
  height: 25rem;
  width: 100%;


}

.about__right {
  background-image: url(About__bgimg.png);
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  width: 25rem;
  margin:0 2rem;
  transition: all .7s;
}
.about__right:hover {
  transform: rotateY(10deg);
  
}

.about__right img {
  width: 18rem;
  margin: 0 2rem;

}

.About__left{
  flex-basis: 50%;
  padding:0 2rem;

}
.About__left a{
  text-decoration: none;
  color: inherit;
}

.About__left h3 {
  color: #444;
  font-size: 1.8rem;
  margin: 1rem 0;

}
.About__left p {
  font-size: 1.5rem;
  color: #444;
  
}

.About__left button {
  padding: .4rem 1rem;
  border: 2px solid teal;
  background: white;
  transition: all 0.6s;
  margin: 2rem 0;
}
.About__left button:hover{
  color: white;
  background: teal;
}



/* SKILL section start */
.box-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.skill {
  width: 100%;
  padding: 1rem;
  color: #9f9999; 
}
.row1{
  flex-basis: 50%;

}
.row2{
  flex-basis: 50%;
}

.skill_title {
  font-weight: 700;
  font-size: 2.5rem;
  padding-bottom: 1rem;
  color: #444;
  border-bottom: 1px solid #aeb2b3

}


.skill__row__content {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  width: 100%;
  padding: 2rem;
  overflow: hidden;
  border-radius: 2px;
/*   box-shadow:  .2rem .2rem 1rem rgba(0, 0, 0, 0.3); */
}

.skill__name {
  font-size: 1.5rem;
  color: #555;
  padding-bottom: 2rem;
}

.html__pre {
  width: 45rem;
  height: 1rem;
  background: #ddd;
  margin: .5rem 0;
}

.color__pre {
  display: block;
  height: 100%;
  background: teal;
}

#html_word-space {
  word-spacing: 35rem;
}

#css_word-space {
  word-spacing: 30rem;
}

#css_color-space {
  width: 80%;
}

#js_word-space {
  word-spacing: 13rem;
}

#js_color-pro {
  width: 60%;
}

#rjs_word-space {
  word-spacing: 27rem;
}

#njs_word-space {
  word-spacing: 28rem;
}

#java_word-space {
  word-spacing: 26rem;
}

#java_color-pro {
  width: 70%;
}

.p4 {
  font-size: 15px;
}

/* MY EDUCATION AND EXPERIENCE */
.education{
/*   box-shadow: 0 .3rem .3rem .4rem rgba(0, 0, 0, 0.1); */
  margin: 1rem;
}



.education__heading {
  font-size: 2.5rem;
  color: #444;
  border-bottom: 1px solid #aeb2b3;
  padding: 2rem 0;
  font-weight: 700;
}

.qualifications {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.experiece {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-basis: 50%;

}

.education__headings {
  text-align:left;
  font-size: 2rem;
  color: #444;
}

.education .box-container .box {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 37rem;
  margin: 2rem;
  border-left: 0.2rem solid #a2a1a1;
  position: relative;
}

.education .box-container .box i {
  position: relative;
  top: 1rem;
  left: -1.7rem;
  border-radius: 50%;
  text-align: center;
  font-size: 2rem;
  padding: .5rem;
  background: teal;
  color: black;
}
.education .box-container .box h3 {
  font-size: 2rem;
  padding-top: 1.5rem;
  padding-left: 1.5rem;
  color: #444;
}
.education .box-container .box span {
  font-size: 1.3rem;
  background: #222;
  color: #fff;
  padding-left: 2rem;
  padding: .5rem 1rem;
}
.education .box-container .box p {
  font-size: 1.4rem;
  line-height: 2.5rem;
  padding-left: 2rem;
}



/* CONTACT SECTION  */

.contact-section {
  background: #fff;
  width: 100%;
}
.map-location {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem;
  padding: 2rem 0;
  border-radius: 5px;
/*   box-shadow:  .2rem .2rem 3rem rgba(0, 0, 0, 0.2); */
  overflow: hidden;
}
.contact-container .detail1 {
  padding:0 4rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  flex-basis: 50%;
  height: 100%;
}

.contact-section h1 {
  font-weight: 700;
  font-size: 3rem;
   border-bottom: 1px solid #aeb2b3;

  color: #444;
  padding: 2rem 0;
}

.contact-container .location {
  padding: 1rem 4rem;
  display: flex;
  align-items: center;
  justify-content: start;
}

.contact-container .location #address {
  font-size: 1.5rem;
  color: #0c94c9;
  letter-spacing: 1px;
}

.contact-container .location i {
  font-size: 2rem;
  padding: 1rem;
  color: teal;
}

.contact-container iframe {
  border-radius: 0.5rem;
  width: 30rem;
  height: 30rem;

}

.contact-section .detail2 {
  flex-basis: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffffb9;
  border-left: 1px solid #d5d5d5;
  padding: 2rem 0;


}

/* form */
.form__group {
  margin-bottom: 2rem;
  width: 40rem;
}

.form__input {
  font-size: 1.5rem;
  padding: 1.5rem 2rem;
  border: none;
  font-family: inherit;
  border-radius: 2px;
  background-color: #d5d5d5;
  width: 100%;
  display: block;
}

.form__input:focus {
  outline: none;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5);
  border-bottom: 3px solid teal;
}

.form__input:focus:focus:invalid {
  border-bottom: 3px solid red;
}

.form__input::-webkit-input-placeholder {
  color: #777;
}

.form__label {
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 2rem;
  margin-top: .5rem;
  display: block;
  transition: all .3s;
}

.form__input:placeholder-shown+.form__label {
  opacity: 0;
  visibility: hidden;
}

.sand__btn{
  text-align: center;
  padding: 1.6rem 6rem;
  border-radius: 2px;
  font-size: 1.8rem;
  color: #777;
  background-color: #d5d5d5;

}
.sand__btn:hover{
  background: teal;
  color: white;

}

  /* FOOTER SECTION */

  .footer {
    background: teal;
    height: 30rem;
    width: 100%;
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

   .footer-icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* height: 20rem; */
  }
  #sociol-icones {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10rem;
    width: 60rem;
  }

  /* FOOTER ICONS */

  .anchor a {
    margin: 3rem;
    font-size: 5rem;
    border-radius: 5px;
    color: #f7f7f7;
  }

  .anchor a:hover {
    font-size: 4rem;
    border-radius: 5px;
    color: #fff;
    font-weight: normal;
  }

  .facebook {
    padding: 0 1rem;
    background: hsl(214, 86%, 52%);
  }

  .facebook:active {
    transform: translateY(-1px);
    box-shadow: 0px 0.4rem 1rem #00acee;
  }

  .twitter {
    background: #00acee;
  }

  .twitter:active {
    transform: translateY(-1px);
    box-shadow: 0px 0.4rem 1rem #00acee;
  }

  .instagram {
    background: #f09433;
    background: -moz-linear-gradient(45deg,
        #f09433 0%,
        #e6683c 25%,
        #dc2743 50%,
        #cc2366 75%,
        #bc1888 100%);
    background: -webkit-linear-gradient(45deg,
        #f09433 0%,
        #e6683c 25%,
        #dc2743 50%,
        #cc2366 75%,
        #bc1888 100%);
    background: linear-gradient(45deg,
        #f09433 0%,
        #e6683c 25%,
        #dc2743 50%,
        #cc2366 75%,
        #bc1888 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f09433', endColorstr='#bc1888', GradientType=1);
  }

  .instagram:active {
    transform: translateY(-1px);
    box-shadow: 0px 0.4rem 1rem #dc2743;
  }

  .linkdin {
    background: #0c8dc0;
  }

  .linkdin:active {
    transform: translateY(-1px);
    box-shadow: 0px 0.4rem 1rem #00acee;
  }

  #sociol-icones i {
    padding: 5px 7px;
  }

  /* FOOTER ICONS END */

  .copyright {
    display: flex;
  }

  .copyright strong {
    font-size: 2rem;
    color: #fff;
    padding-left: 0.5rem;
    cursor: pointer;
  }

  .footer-title {
    color: #eee;
    font-size: 1rem;
    font-weight: 400;
  }

  .my__project {
/*     text-align: center; */
  }

  .open-page {
    display: inline-block;
    margin: 0.5rem 0 0 2rem;
    background: #ddd;
    padding: .5rem 1rem;
    font-size: 1.5rem;
    border-bottom: 1px solid teal;
    transition: all 0.5s;
  }

  .open-page:hover {
    background: teal;
    color: #fff;
    box-shadow: 0 .5rem 1rem #000;
    transform: translateY(-3px);
  }

  .open-page:active {
    box-shadow: 0 1rem 2rem #000;
    transform: translateY(0);
  }

/* menubar */

  #slidebar {
    position: absolute;
    width: 100%;
    top: 6rem;
    padding: 4rem;
    background: teal;
    border-radius: 1rem;
    display: none;
    transition: all 5s;
    z-index: 1000;
  }

  .navbar-items {
    text-align: center;
  }

  .navbaar-items-list {
    height: 7rem;
    padding: 1rem 4rem;
    list-style: none;
    z-index: var(--1);
    transition: 0.5s;
    font-size: 1.5rem;
  }

  .navbaar-items-list a {
    color: #ddd;
    font-weight: 600;
  }
  .navbaar-items-list a:hover {
    color:#333;
    font-weight: 600;
  }


  /* Project-section */
  .section-project{
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.03);
    padding: 2rem;

  }
  .section-project .primary__heading {
    font-size:2rem;
    color: #555;
    padding-bottom: 1rem;
    border-bottom:1px solid #ddd;

    
    
  }
  .projects{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    height: 70vh;

  }
  .pjslider{ 
    position: relative;
    width: 400px;
    height: 193px;
    transform-style:preserve-3d ;
    animation: rotate 30s linear infinite;
  }
  @keyframes rotate{
    0%{
      transform: perspective(10000px) rotateY(0deg);
    }
     
    100%{
      transform: perspective(10000px) rotateY(360deg ) ;
    }
  }
 .pjslider a{
  position: absolute;
  top: 0;
  left: 20px;
  width: 100%;
  height: 100%;
  transform-origin: center;
  transform-style:preserve-3d  ;
  transform: rotateY(calc(var(--1)*90deg)) translateZ(230px);
 }
 .fbslider__img{
  box-shadow: 0rem 0rem 0rem 3.01rem #333;
 }
.ntslider__img{
  box-shadow: 0rem 0rem 0rem 3.01rem lightgreen;
}
.etslider__img{
  box-shadow: 0rem 0rem 0rem 3.01rem maroon;
}
.voslider__img{
  box-shadow: 0rem 0rem 0rem 3.01rem wheat;

}
.projects img{
   position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 2s;
 
  }
 
  
