*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, sans-serif;
    outline: none;

}
.container{
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color:#f7f7f7;
}

.calculator{
    background-color:teal;
    padding:25px;
    border-radius:20px;
    display:grid;
    grid-template-columns: repeat(4, 68px);
    box-shadow: .5rem 1rem 1.5rem rgba(0,0,0, .5) ;

}
.buttons{
    display:grid;
    grid-template-columns: repeat(4, 68px);

}
.input{
    grid-column: span 4;
    height:60px;
    width:100%;
    background-color:#ade8a5;
    box-shadow: inset 4px -4px 1px teal, 4px -4px 1px teal;
    border: none;
    border-radius:15px;
    color: rgb(70, 70, 70);
    font-size: 25px;
    text-align: end;
    margin:10px auto;       
    padding: 10px            
}
.input:hover{
    background-color:#9af88d;

}

button:hover{
    background-color:#141424;
    
    /* gap:.4rem */
}
button{
    height:35px;
    width:60px;
    background-color:#1e1e36;
    border:none;            
    border-radius:10px 10px ;
    margin:8px;
    font-weight: 600;
    font-size: 16px;
    color:#ffff;
}
.equal{
    width: 115px;
    background-color:#00ff00;
    color: white;
    cursor: pointer;
    font-size: 19px;

}
.delete{
   background-color: #ff1493;
    color:white;
}
.cl{
    background-color: #00ffff;
    color:#ccc;
}
